<IfModule mod_rewrite.c>

####### ####### #######

RewriteEngine On

RewriteRule ^(.*)$ /public/$1 [L]
#RewriteRule ^(.*)$ public/$1 [L]   возможно без разницы

# Это итоговый HTA из репозитория от 211222

####### ####### #######
# Это костыль для правильного редиректа если креньСерва===кореньЛаравеля.
# Что бы запрос уходил куда надо
# Если в конфиге серераа корнем является /public/, то этот файл бесполезен.
# Поэтому файл нужен только для локалки, либо кривых хостингов.

# ВСЕ Настройки только в /public/.htaccess
# Тут просто редирект туда и все.
####### ####### #######

</IfModule>
