<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On



    ### Робит на хостингере
    ### НЕ Робит на fozzy (беск переадресации из-за бага с public)  (но норм редиректит даже когда закомментил)
    # Редирект на SSL
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
    
    # Added to Force HTTPS    НЕ ТЕСТИЛ
    # RewriteCond %{HTTP_HOST} mydomain\.com [NC]
    # RewriteCond %{SERVER_PORT} 80
    # RewriteRule ^(.*)$ https://mydomain/$1 [R,L]
    
    # не тестил
    # RewriteCond %{HTTPS} off
    # RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
    
    
    
    
    ### Робит на хостингере
    ### Робит на fozzy
    # Редирект на без www
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

    ###
    
    
    
    
    ####### ####### #######
    # Ниже ларавелевское, не трогать
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    
    ####### ####### #######
    
    
</IfModule>
